<html>
    <head>
        <title>{{ project_name }}</title>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="css/default.css" />
    </head>
    <body>
        {% for new_post in new_posts %}
            <div class="main-content">
                <h1>{{ new_post.title }}</h1>
                {{ new_post.content }}
            </div>
        {% endfor %}
        <hr align="left" />
        {% for old_post in old_posts %}
            <div class="main-content">
                <h1>Old Posts</h1>
                <a href="{{ old_post.href }}">{{ old_post.title }}</a>
            </div>
        {% endfor %}
    </body>
</html>