<html>
    <head>
        <title>{{ post.title }}</title>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="css/default.css" />
    </head>
    <body>
        <div class="main-content">
            <h1>{{ post.title }}</h1>
            {{ post.content }}
        </div>
    </body>
</html>