body {
    font-family: sans-serif;
    margin-left: 60pt;
    margin-top: 25pt;
    margin-bottom: 45px;
    color: #333;
}

h1 {
    font-weight: normal;
    font-size: 50px;
    line-height: 30pt;
}

hr {
    color: #f00;
    width: 60%;
    background-color: #ccc;
    height: 1px;
    border: 0px;
}

.main-content {
    width: 60%;
    line-height: 20pt;
}

a {
    color: #333;
}

a:hover {
    color: #900;
    text-decoration: none;
}